.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
}

.animations {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.animation-row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.variant-row {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.hamburger {
  --hamburger-bg: #e0e0e0;
  --hamburger-bar: #111;
  --hamburger-border: transparent;
  position: relative;
  width: 56px;
  height: 44px;
  border: 1px solid var(--hamburger-border);
  /* border-radius: 10px; */
  background-color: var(--hamburger-bg);
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.bar {
  position: absolute;
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--hamburger-bar);
  left: 8px;
  transition: all 0.3s ease-in-out;
}

.bar {
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar:first-of-type {
  top: 50%;
  transform: translate(-50%, calc(-50% - 8px));
}

.bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, calc(-50% + 8px));
}

.line {
  position: absolute;
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--hamburger-bar);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}


.slide-line {
  position: absolute;
  top: 0;
  left: 13%;
  width: 40px;
  height: 3px;
      flex-shrink: 0;
  border-radius: 6px;
  background-color:  var(--hamburger-bar);
  transition: top 0.3s ease, transform 0.3s ease;
  transition-property: transform, top;
          transition-duration: 0.3s;
}


/* Upper line */
.line:first-of-type {
  transform: translate(-50%, calc(-50% - 6px));
}

/* Lower line */
.line:nth-of-type(2) {
  transform: translate(-50%, calc(-50% + 6px));
}

/* theme variations */
.theme-gray {
  --hamburger-bg: #e0e0e0;
  --hamburger-bar: #111;
}

.theme-black {
  --hamburger-bg: #111;
  --hamburger-bar: #fff;
}

.theme-red {
  --hamburger-bg: #e55656;
  --hamburger-bar: #fff;
}

.theme-brown {
  --hamburger-bg: #ba9778;
  --hamburger-bar: #fff;
}

.theme-ghost {
  --hamburger-bg: transparent;
  --hamburger-bar: #111;
  /* --hamburger-border: var(--hamburger-bar); */
}

/* animations */
.anim-simple.is-action .bar:first-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.anim-simple.is-action .bar:nth-of-type(2) {
  opacity: 0;
}

.anim-simple.is-action .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.anim-rotation.is-action .bar:first-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(315deg);
}

.anim-rotation.is-action .bar:nth-of-type(2) {
  opacity: 0;
}

.anim-rotation.is-action .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-315deg);
}

.anim-pivot.is-action .bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
  transform-origin: center;
}

.anim-pivot.is-action .bar:nth-child(2) {
  width: 0;
}

.anim-pivot.is-action .bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  transform-origin: center;
}

.anim-burst.is-action .bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

.anim-burst.is-action .bar:nth-child(2) {
  opacity: 0;
  transform: translate(100%);
}

.anim-burst.is-action .bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}

.anim-morph .bar {
  transition: all 0.3s ease;
}

.anim-morph.is-action .bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

.anim-morph.is-action .bar:nth-child(2) {
  opacity: 0;
}

.anim-morph.is-action .bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
}

.anim-flip.is-action .line:nth-child(1) {
  transform: translate(-50%, -50%) rotate( -135deg);
  transition: top .22s cubic-bezier(.33333, 0, .66667, .33333) .2s,
  transform .28s cubic-bezier(.215, .61, .355, 1) .2s;
}

.anim-flip.is-action .line:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}



.slide-line:nth-of-type(1) {
  top: 30%;
          transition-delay: 0s, 0.3s;
}


.slide-line:nth-of-type(2) {
  top: 65%;
          transition-delay: 0s, 0.3s;
}

.is-action .slide-line:nth-of-type(1) {
  top: 50%;
          transform: translateY(-50%) rotate(-30deg);
          transition-delay: 0.3s, 0s;
}

.is-action .slide-line:nth-of-type(2) {
  top: 50%;
          transform: translateY(-50%) rotate(30deg);
          transition-delay: 0.3s, 0s;
}
