.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
}

.hamburger {
  position: relative;
  display: block;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.box {
  display: block;
  background-color: #87ceeb;
  padding: 10px;
}

.ber {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #333;
  left: 5px;
  transition: all 0.3s ease-in-out;
  &:first-of-type {
    top: 5px;
  }
  &:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  &:nth-of-type(3) {
    bottom: 5px;
  }
}

#simple {
  &.is-action {
    .ber {
      transition: all 0.3s ease-in-out;
      &:first-of-type {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }
}

#Rotation{
   &.is-action {
    .ber {
      transition: all 0.3s ease-in-out;
      &:first-of-type {
        top: 50%;
        transform: translateY(-50%) rotate(315deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-315deg);
      }
    }
  }
}