

.todo-field{
  display: flex;

}

.complete{
  text-decoration: line-through;
  opacity: 0.5;
}

.tab-button{
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.active{
  background-color: #4caf50;
  color: #fff;
}
.tab-content{
  padding:20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

body {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}


.background-slash{
  position: relative;
}

.background-slash::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: #F7F7F7;
  opacity: 0.5;
  z-index: -1;
  /* transform: rotate(10deg); */
  transform-origin:left top;
  transform: skewY(10deg);
}